@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
      font-family: "iCiel Samsung Sharp Sans";
      src: url("/fonts/iCielSamsungSharpSans/iCielSamsungSharpSans-Bold.woff2")
          format("woff2"),
        url("/fonts/iCielSamsungSharpSans/iCielSamsungSharpSans-Bold.woff")
          format("woff");
      font-weight: bold;
      font-style: normal;
      font-display: swap;
    }
  
    html {
      font-family: "iCiel Samsung Sharp Sans";
      font-weight: 500;
    }
  }
  
  @layer components {
    .btn-primary {
      @apply text-xl text-primary capitalize border border-x-0 border-primary font-bold p-[6px] transition-all duration-300 ease-linear hover:text-black hover:border-black;
    }
  }